<html lang="en">
  <%- include('../partials/head') %>
  <%- include('../partials/nav') %>
<body>

  
  <div class="create-blog content">
    <!-- fazendo o post request para enviar o conteudo no data base  adicionando em form -action="/posts" method="POST"-->
    <form action="/posts" method="POST">
      <!-- qnd clica em submit is going to send a post request to /posts URL -->
      <!-- e para acessar esse body do server add name atribute   -->
      <label for="title">Where to Go:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">What's your Tip:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Share your expirience:</label>
      <textarea id="body" name="body" required></textarea>
      <label for="image">Upload a image:</label>
      <input type="file" id="image" name="image" accept="image/png, image/jpg">
      <button>Submit 😊 </button>
    </form>
  </div>
  <%- include('../partials/footer') %>
</body> 
</html>

<!-- https://www.youtube.com/watch?v=lzK8vM_wdoY como upload e display image js  -->