<nav>
  
  <div class="navContainer">
    <div class="logo_div">
      <a href="/"><img src="/05logo.png" alt="" class="logo"></a> 
    </div>
  </div>
    <ul>
      <li> <a href="/">HOME PAGE</a></li>
      <li><a href="/about">ABOUT PAGE</a></li>
      <li><a href="/posts/create">NEW POST</a></li>
    </ul>
  
  
</nav> 