<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Trip Berlin | <%= title%> </title>
</head>
<body>
<nav>
  <div class="site-title">
    <a href="/"><h1>Summer in Berlin</h1></a>
    <p>the best place to be</p>
  </div>
  <ul>
    <li> <a href="/">HOME PAGE</a></li>
    <li><a href="/about">ABOUT PAGE</a></li>
    <li><a href="/blogs/create">NEW POST</a></li>
  </ul>
</nav>     <h1> 404 PAGE NOT FOUND </h1>
    <h3>no page with this URL 😕</h3>
</body>
</html>