<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Trip Berlin | <%= title%> </title>
</head>
<nav>
  <div class="site-title">
    <a href="/"><h1>Summer in Berlin</h1></a>
    <p>the best place to be</p>
  </div>
  <ul>
    <li> <a href="/">HOME PAGE</a></li>
    <li><a href="/about">ABOUT PAGE</a></li>
    <li><a href="/blogs/create">NEW POST</a></li>
  </ul>
</nav> 
<body>
    
    <h1>ABOUT PAGE</h1>
    <div class="about content">
        <h2>Berlin is a Summer City 🌻</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat enim et dignissim venenatis. Mauris imperdiet ultricies urna. Aliquam erat volutpat. Proin mattis magna vitae fermentum imperdiet. Maecenas ac bibendum arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam condimentum ex felis, consectetur dignissim risus suscipit eu. Sed in turpis imperdiet, vulputate magna ut, vestibulum massa. Donec bibendum magna egestas ipsum ullamcorper ornare. Praesent et ante libero. Fusce malesuada nibh lectus, vel accumsan nulla tristique et. Sed feugiat libero eget velit blandit, eu dignissim magna placerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat enim et dignissim venenatis. Mauris imperdiet ultricies urna. Aliquam erat volutpat. Proin mattis magna vitae fermentum imperdiet. Maecenas ac bibendum arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam condimentum ex felis, consectetur dignissim risus suscipit eu. Sed in turpis imperdiet, vulputate magna ut, vestibulum massa. Donec bibendum magna egestas ipsum ullamcorper ornare. Praesent et ante libero. Fusce malesuada nibh lectus, vel accumsan nulla tristique et. Sed feugiat libero eget velit blandit, eu dignissim magna placerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat enim et dignissim venenatis. Mauris imperdiet ultricies urna. Aliquam erat volutpat. Proin mattis magna vitae fermentum imperdiet. Maecenas ac bibendum arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam condimentum ex felis, consectetur dignissim risus suscipit eu. Sed in turpis imperdiet, vulputate magna ut, vestibulum massa. Donec bibendum magna egestas ipsum ullamcorper ornare. Praesent et ante libero. Fusce malesuada nibh lectus, vel accumsan nulla tristique et. Sed feugiat libero eget velit blandit, eu dignissim magna placerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat enim et dignissim venenatis. Mauris imperdiet ultricies urna. Aliquam erat volutpat. Proin mattis magna vitae fermentum imperdiet. Maecenas ac bibendum arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam condimentum ex felis, consectetur dignissim risus suscipit eu. Sed in turpis imperdiet, vulputate magna ut, vestibulum massa. Donec bibendum magna egestas ipsum ullamcorper ornare. Praesent et ante libero. Fusce malesuada nibh lectus, vel accumsan nulla tristique et. Sed feugiat libero eget velit blandit, eu dignissim magna placerat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat enim et dignissim venenatis. Mauris imperdiet ultricies urna. Aliquam erat volutpat. Proin mattis magna vitae fermentum imperdiet. Maecenas ac bibendum arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam condimentum ex felis, consectetur dignissim risus suscipit eu. Sed in turpis imperdiet, vulputate magna ut, vestibulum massa. Donec bibendum magna egestas ipsum ullamcorper ornare. Praesent et ante libero. Fusce malesuada nibh lectus, vel accumsan nulla tristique et. Sed feugiat libero eget velit blandit, eu dignissim magna placerat.</p>

    </div>
</body>
</html>