<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Trip Berlin | <%= title%> </title>
</head>
<nav> 
  <div class="site-title">
    <a href="/"><h1>Summer in Berlin</h1></a>
    <p>the best place to be</p>
  </div>
  <ul>
    <li> <a href="/">HOME PAGE</a></li>
    <li><a href="/about">ABOUT PAGE</a></li>
    <li><a href="/blogs/create">NEW POST</a></li>
  </ul>
</nav> 
<body>

  
  <div class="create-blog content">
    <!-- fazendo o post request para enviar o conteudo no data base  adicionando em form -action="/contacts" method="POST"-->
    <form action="/contacts" method="POST">
      <!-- qnd clica em submit is going to send a post request to /contacts URL -->
      <!-- e para acessar esse body do server add name atribute   -->
      <label for="title">Where to Go:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">What's your Tip:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Share your expirience:</label>
      <textarea id="body" name="body" required></textarea>
      <label for="image">Upload a image:</label>
      <input type="file" id="image_input" accept="image/png, image/jpg">
      <button>Submit 😊 </button>
    </form>
  </div>

</body>
</html>

<!-- https://www.youtube.com/watch?v=lzK8vM_wdoY como upload e display image js  -->