<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Trip Berlin</title>
</head>
<nav>
    <a href="/">HOME PAGE</a>
    <a href="/about">ABOUT PAGE</a>
    <a href="/blogs/create">NEW POST</a>
</nav>
<body>
    <div class="site-title">
        <a href="/"><h1>Summer in Berlin</h1></a>
        <p>the best place to be</p>
    </div>
    <h1>HOME PAGE</h1>
    <h2>🔥🌞All Summer Tips 🔥🌞</h2>
</body>
</html>