@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      margin: 0;
      font-family: system-ui;
      
    }

    

    h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */

    .navContainer{
      width: 90%;
      
    }
    /* nav = navbar  */
    nav{
      width: 100%;
      overflow: hidden;
      height: 100px;
      line-height: 100px;
      background: rgb(241, 207, 128);
      border-bottom: 2px solid gray;
    }
    nav ul{
      float: right;
    }

  
    nav li{
      float: left;
      width: 120px;
      height: 30px;
      list-style: none;
      text-transform: uppercase;
      display: block;
    }
    
    nav a{
      color: #777;
      font-weight: 400;
    }

    nav li:hover{
      background: rgb(241, 137, 191);
      
    }    

    nav li a:hover{
      color: beige;
    }

    .logo_div{
      
    }

    .logo{
      width: 150px;
      float: left;
      

    }

    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }


    .content{
      margin-left: 20px;
    }

    /* index styles */
    .wrap{
      background-color: rgb(54, 35, 224);
      background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("images/02cherryTree.jpeg");
      color: rgb(238, 236, 233);
      font-size: 2em;
      background-size: cover;
      padding-top: 200px;
      padding-bottom: 200px;
    }

    .container{
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    .coverImg{
      width: 700px; ;
      background-image: url(cherryTree.jpg);
    }
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .blogs a:hover h3{
      color: crimson;
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }